<launch>
    <!-- record images -->
    <node pkg="rosbag" type="record" name="rosbag_micasense" output="screen"
        args="record -o /home/crl/tmp/multispec
/micasense/image_panchromatic/compressed
        " /> 
    <!-- create images -->
    <arg name="image_dir" value="" />
    <node pkg="image_view" type="image_saver" name="image_saver">
        <!-- <remap from="image" to="/camera/image_raw" /> -->
        <param name="image_transport" value="compressed" />
        <param name="save_all_image" value="all" />
        <param name="filename_format" value="$(arg image_dir)/%04d.png" />
    </node>

</launch>
