<launch>
    <!-- driver -->
    <node pkg="micasense_ros" type="micasense_node" name="micasense_node" output="screen">
        <param name="ip" value="192.168.1.83" type="string"/>
        <!-- <param name="channel_bit_mask" value="127" type="int"/> -->
        <param name="use_red" value="true" type="bool"/>
        <param name="use_blue" value="true" type="bool"/>
        <param name="use_green" value="true" type="bool"/>
        <param name="use_red_edge" value="true" type="bool"/>
        <param name="use_near_infrared" value="true" type="bool"/>
        <param name="use_panchromatic" value="true" type="bool"/>
        <param name="use_thermal" value="true" type="bool"/>
    </node>

    <!-- image view -->
    <!-- ready to be tested with the driver i will create -->
    <!-- <node pkg="rqt_image_view" type="rqt_image_view" name="image_view_debug" /> -->
</launch>
