<launch>
    <!-- driver -->
    <node pkg="micasense_ros" type="micasense_node" name="micasense_node" output="screen">
        <param name="simple_param" value="20" type="int"/>
        <param name="ip" value="192.168.1.83" type="string"/>
        <param name="channel_bit_mask" value="63" type="int"/>
    </node>

    <!-- image view -->
    <!-- ready to be tested with the driver i will create -->
    <!-- <node pkg="rqt_image_view" type="rqt_image_view" name="image_view_debug" /> -->
</launch>